@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap");

* {
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}




.exam-courses-swiper .swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 0.6;
  transition: background-color 0.3s, opacity 0.3s;
}

.exam-courses-swiper .swiper-pagination-bullet-active {
  background-color: #8A1538; 
  opacity: 1;
}

.exam-courses-swiper .swiper-pagination {
  bottom: 0px !important;
}
.swiper-subjects .swiper-pagination-bullet,
.testimonial-swiper .swiper-pagination-bullet,
.swiper-programs .swiper-pagination-bullet,
.swiper-headline .swiper-pagination-bullet {
  background-color: #8a1538;
}
/* .swiper-subjects .swiper-button-next,
.swiper-subjects .swiper-button-prev{
color: #8a1538;

} */
.swiper-subjects .swiper-pagination ,
.testimonial-swiper .swiper-pagination ,
.exam-courses-swiper .swiper-pagination,
.swiper-headline .swiper-pagination{
  margin-top: 20px;
  position: relative;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Bricolage Grotesque, sans-serif;
}

@keyframes float-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
